@font-face {
  font-family: "Stage Grotesk";
  src: url('../public/fonts/StageGrotesk/StageGrotesk-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: "Stage Grotesk";
  src: url('../public/fonts/StageGrotesk/StageGrotesk-Bold.otf');
  font-weight: bold;
}

.learnMoreLink:hover {
  opacity: 0.8;
}
