.list-item a{
  color: #fff;
  text-decoration: none;
}
.font-size-xxxl {
  font-size: 88px;
}

.font-size-xxl {
  font-size: 64px;
}

.font-size-xl {
  font-size: 40px;
}

.font-size-lg {
  font-size: 28px;
}

.font-size-md {
  font-size: 24px;
}

.font-size-sm {
  font-size: 20px;
}

.font-size-xxs {
  font-size: 16px;
}

.font-weight-lg {
  font-weight: 700;
}

.font-weight-md {
  font-weight: 600;
}

.font-weight-sm {
  font-weight: 400;
}

.text-opacity {
  opacity: 0.8;
}

.font-main {
  font-family: "Open Sans", sans-serif;
}

.font-secondary {
  font-family: "Mulish", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #090d0d;
  color: #ffffff;
}

.container {
  max-width: 1386px;
  margin: auto;
  padding: 0 15px;
}

li {
  list-style-type: none;
}

.col-xs {
  width: 30%;
}

.col-sm {
  width: 40%;
}

.col-md {
  width: 50%;
}

.col-lg {
  width: 60%;
}

.col-xl {
  width: 70%;
}

.offset-xxs {
  margin-bottom: 15px;
}

.offset-xs {
  margin-bottom: 30px;
}

.offset-sm {
  margin-bottom: 40px;
}

.offset-md {
  margin-bottom: 78px;
}

.offset-lg {
  margin-bottom: 122px;
}

.offset-xl {
  margin-bottom: 150px;
}

.offset-xxl {
  margin-bottom: 305px;
}

.wrapper-link-button {
  cursor: pointer;
  width: 198px;
  min-height: 58px;
  background-color: #ffffff;
  border-radius: 500px;
  color: #090d0d;
  text-decoration: none;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-link-button:hover {
  opacity: 0.9;
  background-color: #182323;
  color: #fff;
}

.wrapper-link-button svg {
  fill: #090D0D;
  transition: all 0.3s ease;
}

.wrapper-link-button:hover svg {
  fill: #fff;
 }

.btn-text {
  font-size: 14px;
  text-transform: capitalize;
}
@media screen and (max-width: 576px) {
  .wrapper-link-button {
    margin-top: 20px;
  }
}

.wrapper-arrow-img {
  max-width: 12px;
  max-height: 12px;
  width: 100%;
  margin-left: 9px;
}

.list-item {
  padding-right: 40px;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.list-item:hover {
  color: #182323;
}
@media screen and (max-width: 769px) {
  .list-item {
    padding-right: 25px;
  }
}
@media screen and (max-width: 576px) {
  .list-item {
    padding: 25px 0;
  }
}

.head-cell,
.title-cards-section-about {
  text-align: center;
  font-size: 32px;
  padding-bottom: 15px;
}

.body-cell {
  padding: 24px 45px;
  background: #182323;
}

.body-row .body-cell:nth-child(even) {
  background: linear-gradient(270deg, #00c097 3.36%, #9a89f0 100%);
}

.list-item-about {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  line-height: 27px;
  padding: 24px 30px;
  margin-bottom: 30px;
  background: #182323;
}
.list-item-about:last-child {
  margin-bottom: 0;
}
.list-item-about:nth-child(even) {
  background: linear-gradient(270deg, #00c097 3.36%, #9a89f0 100%);
  margin-bottom: 40px;
}
.list-item-about:nth-child(odd) {
  margin-bottom: 12px;
}
.list-item-about:last-child {
  margin-bottom: 0;
}

.how-it-works-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .how-it-works-list-item {
    flex-direction: column;
  }
}

.how-it-works-list-item-text {
  margin-right: 32px;
  background: linear-gradient(270deg, #00c097 3.36%, #9a89f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1200px) {
  .how-it-works-list-item-text {
    margin-right: 0;
  }
}

.how-it-works-list-item-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 124px;
  padding: 24px 50px 24px 70px;
  background-color: #182323;
  border-radius: 4px;
  flex-grow: 1;
  z-index: 100;
}
.how-it-works-list-item-card .font-size-lg {
  white-space: break-spaces;
}
@media screen and (max-width: 1200px) {
  .how-it-works-list-item-card {
    align-self: stretch;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .how-it-works-list-item-card {
    min-height: 73px;
    padding: 24px 30px;
  }
  .how-it-works-list-item-card .font-size-lg {
    font-size: 18px;
  }
}

.wrapper-bottom-text-gradient {
  display: inline-block;
  background: linear-gradient(270deg, #00c097 3.36%, #9a89f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.for-developers-list-item {
  background-color: #182323;
  border-radius: 4px;
}

.for-developers-list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  min-height: 124px;
  text-decoration: none;
  color: #ffffff;
  padding: 22px;
  border-radius: 4px;
}
.for-developers-list-link .font-size-lg {
  z-index: 100;
}
@media screen and (max-width: 576px) {
  .for-developers-list-link .font-size-lg {
    font-size: 18px;
  }
}
.for-developers-list-link:hover .for-developers-card-img {
  opacity: 1;
}
@media screen and (max-width: 576px) {
  .for-developers-list-link {
    padding: 26px 30px;
    min-height: 78px;
  }
}

.arrow-top-img {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  z-index: 100;
}
@media screen and (max-width: 576px) {
  .arrow-top-img {
    max-width: 25px;
    max-height: 25px;
  }
}

.for-developers-card-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 4px;
  pointer-events: none;
}

.list-item-footer {
  padding-bottom: 16px;
}
.list-item-footer .link-footer {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.list-item-footer .link-footer:hover {
  opacity: 0.9;
}

.header {
  padding-top: 48px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .header.offset-xl {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 576px) {
  .header {
    padding-top: 20px;
  }
}

.header-image {
  max-width: 953px;
  width: 85%;
  max-height: 670px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}
@media screen and (max-width: 769px) {
  .header-image {
    width: 75%;
  }
}
@media screen and (max-width: 576px) {
  .header-image {
    display: none;
  }
}

.header-burger-menu-image {
  display: none;
}
@media screen and (max-width: 576px) {
  .header-burger-menu-image {
    display: block;
    max-width: 375px;
    width: 100%;
    max-height: 470px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
  }
}


.logo-image {
  width: 110px;
  height: 43px;
  z-index: 100;
}
@media screen and (max-width: 576px) {
  .logo-image {
    max-width: 83px;
    max-height: 32px;
    height: 100%;
  }
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .wrapper-header {
    margin-bottom: 190px;
  }
}

.list-menu {
  display: inline-flex;
  list-style: none;
  height: 100%;
}

.wrapper-menu {
  display: flex;
  align-items: center;
  z-index: 100;
}

.wrapper-burger-menu {
  display: none;
}

.header {
  position: relative;
}

.wrapper-burger-menu {
  margin: auto;
  width: 100%;
  color: #ffffff;
  text-align: center;
  display: none;
}
@media screen and (max-width: 576px) {
  .wrapper-burger-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

#check-menu {
  display: none;
}

.title-burger-menu {
  display: block;
  position: absolute;
  top: 30px;
  right: 20px;
  max-width: 35px;
  width: 100%;
  height: 23px;
  cursor: pointer;
  z-index: 1000;
  line-height: 40px;
}

.burger-line {
  z-index: 150;
  position: absolute;
  top: 28px;
  right: 20px;
  width: 20px;
  height: 1px;
  background-color: #ffffff;
}

#check-menu:checked ~ .burger-line {
  background-color: #ffffff;
}

.two,
.three {
  top: 38px;
}

.four {
  top: 47px;
}

.main-menu {
  display: block;
  position: absolute;
  padding: 0 32px;
  width: 100%;
  top: 0;
  left: 0;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  z-index: 100;
}
@media screen and (max-width: 576px) {
  .main-menu {
    z-index: 10;
  }
}
.main-menu .image-burger-menu {
  max-width: 612px;
  width: 100%;
  max-height: 389px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-item-link {
  color: #090d0d;
  background-color: transparent;
}

#check-menu:checked ~ .main-menu {
  height: 195px;
  max-height: 550px;
  font-size: 18px;
  padding: 0 10px;
  border-bottom: 1px solid rgba(24, 35, 35, 0.1);
  background-color: #090d0d;
}
@media screen and (max-width: 576px) {
  #check-menu:checked ~ .main-menu {
    height: auto;
    max-height: max-content;
    font-size: 18px;
    padding: 200px 0;
  }
}

#check-menu:checked + .logo-name {
  display: none;
}

#check-menu:checked ~ .one {
  display: none;
}

#check-menu:checked ~ .two {
  transform: rotate(45deg);
}

#check-menu:checked ~ .three {
  transform: rotate(-45deg);
}

#check-menu:checked ~ .four {
  display: none;
}

@media screen and (max-width: 576px) {
  .logo-name {
    color: #ffffff;
    z-index: 1000;
    margin-right: 40px;
    white-space: nowrap;
  }
  .main-menu,
  .list-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .list-item,
  .dropdown {
    display: flex;
    flex-direction: column;
  }
  .wrapper-menu {
    display: none;
  }
}
.header-intro {
  position: relative;
}
.header-intro .image-dots {
  max-width: 92px;
  width: 100%;
  max-height: 54px;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 576px) {
  .header-intro .image-dots {
    max-width: 44px;
    width: 100%;
    max-height: 28px;
  }
}
.header-intro .title-intro {
  display: inline;
  word-break: break-all;
  padding-bottom: 16px;
  background: linear-gradient(270deg, #00c097 3.36%, #9a89f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 100;
}
@media screen and (max-width: 769px) {
  .header-intro .title-intro {
    font-size: 32px;
  }
}
.header-intro .title-header-intro {
  word-break: break-word;
  max-width: 1042px;
  padding-bottom: 40px;
  z-index: 100;
}
@media screen and (max-width: 769px) {
  .header-intro .title-header-intro {
    font-size: 44px;
  }
}
@media screen and (max-width: 769px) {
  .header-intro {
    margin-top: 190px;
  }
}

.wrapper-text-section-about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 0 100px;
  word-break: break-word;
}
@media screen and (max-width: 1200px) {
  .wrapper-text-section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 50px;
  }
  .wrapper-text-section-about .col-sm,
  .wrapper-text-section-about .col-lg {
    width: 100%;
  }
}
.wrapper-text-section-about .title-section-about {
  max-width: 483px;
  line-height: 97px;
}
@media screen and (max-width: 1200px) {
  .wrapper-text-section-about .title-section-about {
    max-width: 100%;
    font-size: 52px;
    text-align: center;
    padding-bottom: 20px;
  }
}
.wrapper-text-section-about .image-about-mobile {
  display: none;
}
@media screen and (max-width: 1200px) {
  .wrapper-text-section-about .image-about-mobile {
    display: block;
    max-width: 227px;
    width: 100%;
    max-height: 376px;
    position: absolute;
    left: 0;
    bottom: -110px;
    opacity: 0.3;
  }
}
@media screen and (max-width: 576px) {
  .wrapper-text-section-about .image-about-mobile {
    position: absolute;
    left: 0;
    bottom: -15px;
  }
}
.wrapper-text-section-about .text-section-about {
  max-width: 684px;
  min-height: 264px;
  line-height: 33px;
}
@media screen and (max-width: 1200px) {
  .wrapper-text-section-about .text-section-about {
    max-width: 100%;
  }
}
@media screen and (max-width: 769px) {
  .wrapper-text-section-about .text-section-about {
    font-size: 18px;
    margin: 0 16px;
  }
}

.wrapper-cards-section-about {
  display: flex;
}
.wrapper-cards-section-about .col-xs:first-child {
  margin-right: 30px;
}
@media screen and (max-width: 769px) {
  .wrapper-cards-section-about {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper-cards-section-about .col-lg {
    width: 100%;
  }
}
.wrapper-cards-section-about .col-sm {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .wrapper-cards-section-about .col-sm {
    display: none;
  }
}
.wrapper-cards-section-about .mobile-cards-wrapper {
  display: none;
}
@media screen and (max-width: 769px) {
  .wrapper-cards-section-about .mobile-cards-wrapper {
    display: block;
  }
}

.about-image {
  max-width: 497px;
  max-height: 608px;
  width: 100%;
  padding-left: 81px;
}

.text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrapper .title-cards-section-about {
  padding: 0;
  display: inline-block;
}
.text-wrapper .title-cards-section-about:first-of-type {
  padding-bottom: 12px;
}
.text-wrapper .title-cards-section-about:last-of-type {
  background: linear-gradient(270deg, #00c097 3.36%, #9a89f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

.about-cards-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-about {
  border-spacing: 15px;
  border-collapse: separate;
}
.table-about th,
.table-about td {
  width: 50%;
  vertical-align: top;
}
@media screen and (max-width: 769px) {
  .table-about {
    display: none;
  }
}

.wrapper-section-how-it-works {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.wrapper-section-how-it-works .col-md:first-child {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 74px;
}
.wrapper-section-how-it-works .col-md:first-child .how-it-works-img {
  max-width: 566px;
  max-height: 251px;
  width: 100%;
  position: absolute;
  top: 31%;
  left: 0;
}
@media screen and (max-width: 1200px) {
  .wrapper-section-how-it-works .col-md:first-child {
    padding-right: 0;
  }
  .wrapper-section-how-it-works .col-md:first-child .how-it-works-img {
    display: none;
  }
  .wrapper-section-how-it-works .col-md:first-child .how-it-works-list {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .wrapper-section-how-it-works .col-md:last-child .font-size-xl {
    font-size: 32px;
  }
}
.wrapper-section-how-it-works
  .col-md:last-child
  .how-it-works-list-item:last-child {
  display: none;
}
@media screen and (max-width: 1200px) {
  .wrapper-section-how-it-works
    .col-md:last-child
    .how-it-works-list-item:last-child {
    display: flex;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper-section-how-it-works .col-md {
    width: 100%;
  }
}
.wrapper-section-how-it-works .col-wrapper-item {
  display: flex;
  flex-direction: column;
}
.wrapper-section-how-it-works .col-wrapper-item .wrapper-link-button {
  margin-bottom: 50px;
  z-index: 100;
}
@media screen and (max-width: 1200px) {
  .wrapper-section-how-it-works .col-wrapper-item {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .wrapper-section-how-it-works .col-wrapper-item .font-size-xxl {
    font-size: 48px;
  }
  .wrapper-section-how-it-works .col-wrapper-item .font-size-md {
    font-size: 18px;
  }
  .wrapper-section-how-it-works .col-wrapper-item .font-size-md.offset-xs {
    margin-bottom: 10px;
  }
}
.wrapper-section-how-it-works .text-section-how-it-works {
  padding-right: 40px;
}
@media screen and (max-width: 1200px) {
  .wrapper-section-how-it-works .text-section-how-it-works {
    padding-right: 0;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper-section-how-it-works {
    flex-direction: column;
    text-align: center;
  }
  .wrapper-section-how-it-works.offset-md {
    margin-bottom: 47px;
  }
}

.wrapper-bottom {
  display: flex;
  justify-content: center;
  background-color: #182323;
  border-radius: 4px;
}
.wrapper-bottom .col-md:first-child {
  position: relative;
}
.wrapper-bottom .col-md:first-child .wrapper-bottom-desktop-img {
  max-width: 666px;
  max-height: 548px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.7;
}
@media screen and (max-width: 1200px) {
  .wrapper-bottom .col-md:first-child .wrapper-bottom-desktop-img {
    display: none;
  }
}
.wrapper-bottom .col-md:first-child .wrapper-bottom-mobile-img {
  display: none;
  max-width: 291px;
  max-height: 291px;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
@media screen and (max-width: 1200px) {
  .wrapper-bottom .col-md:first-child .wrapper-bottom-mobile-img {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper-bottom .col-md:first-child {
    height: 156px;
  }
}
.wrapper-bottom .col-md:last-child {
  padding: 47px 105px 47px 0;
}
@media screen and (max-width: 1200px) {
  .wrapper-bottom .col-md:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 30px 40px;
  }
}
@media screen and (max-width: 576px) {
  .wrapper-bottom .col-md:last-child .font-size-md {
    font-size: 18px;
    white-space: break-spaces;
  }
  .wrapper-bottom .col-md:last-child .offset-xxs {
    margin-bottom: 20px;
  }
  .wrapper-bottom .col-md:last-child .offset-sm {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper-bottom .col-md {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper-bottom {
    flex-direction: column;
  }
}

.for-developers {
  position: relative;
}
@media screen and (max-width: 1200px) {
  .for-developers .col-sm {
    margin-bottom: 80px;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  .for-developers {
    margin-bottom: 80px;
  }
}

.for-developers-desktop-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 744px;
  max-height: 953px;
  pointer-events: none;
}
@media screen and (max-width: 576px) {
  .for-developers-desktop-img {
    display: none;
  }
}

.for-developers-mobile-img {
  position: absolute;
  left: 50%;
  top: 22%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 411px;
  max-height: 411px;
  display: none;
}
@media screen and (max-width: 576px) {
  .for-developers-mobile-img {
    display: block;
  }
}

.wrapper-section-for-developers {
  position: relative;
  z-index: 100;
  padding-top: 107px;
}
@media screen and (max-width: 576px) {
  .wrapper-section-for-developers {
    padding-top: 40px;
  }
  .wrapper-section-for-developers .font-size-xxl {
    font-size: 48px;
  }
  .wrapper-section-for-developers .font-size-xxl.offset-xs {
    margin-bottom: 40px;
  }
}

.footer {
  margin-bottom: 40px;
}

.wrapper-footer-lg {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .wrapper-footer-lg {
    display: none;
  }
}

.image-logo-footer {
  margin-bottom: 120px;
  width: 110px;
  height: 43px;
  max-width: 110px;
  max-height: 43px;
}
@media screen and (max-width: 576px) {
  .image-logo-footer {
    margin-bottom: 40px;
  }
}

.title-footer {
  opacity: 0.5;
  padding-bottom: 20px;
}

.wrapper-footer-column {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 576px) {
  .wrapper-footer-column {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  .wrapper-footer-column .col-md {
    display: flex;
  }
}

.wrapper-col-links {
  margin-left: 170px;
}
@media screen and (max-width: 769px) {
  .wrapper-col-links {
    margin: 0 72px 0 0;
  }
}

.wrapper-col-social {
  margin-top: -8px;
}
@media screen and (max-width: 769px) {
  .wrapper-col-social {
    margin: 0;
  }
}

.wrapper-footer-sm {
  display: none;
}
@media screen and (max-width: 576px) {
  .wrapper-footer-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .wrapper-footer-sm .wrapper-link-button {
    margin-top: 0;
    width: 100%;
  }
}
